body{
    text-align: center;
    width:100%;
    font-size:large;
}

button{
    margin: 5%;
    width: 90%;
    height: 100px;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.menu_button {
    height: 50px;
}

table {
    width: 90%;
    margin: 5%;
}

td {
    width:50%;
}
