body{
    text-align: center;
    width:100%;
    font-size:large;
}

div{
    width: 100%;
}

.wrapper {
    text-align: center;
    margin-top: 10%;
}

.version {
    font-size: xx-small;
    text-align: left;
}


