body{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-color: black;
    color: white;
    text-align: center;
    width:100%;
    font-size:large;
}

.wrapper {
    text-align: center;
    margin-top: 10%;
}

.version {
    font-size: xx-small;
    text-align: left;
}

.menu_button {
    width:90%;
    height: 50px;
    margin: 5%;
}

button{
    display: block;
    background-color:black;
    color: aliceblue;
    margin: 5%;
    width: 95%;
    height: 100px;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

/*table td{
    border:white 1px solid;
}
*/
table {
    width: 90%;
    margin: 5%;
}

td {
    width:50px;
}


