body{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.menu_button {
  margin: 0%;
}

table{
  font-size: x-large;
}

.userInfo{
  text-align: center;
}

.userName{
  width: 40%;
  vertical-align: middle;
  height:60px;
  font-size: xx-large;
  background-color:rgb(89, 114, 136);
  text-align: center;
  margin-top: 1%;
  border-radius: 10px;
}

.btnNav{
  width: 40px;
  height: 40px;
  vertical-align: middle;
  text-align: center;
  margin-top: 1%;
  border: 1px solid black;
}

btnNav:disabled,
button[disabled]{
  background-color: black;
  border: 1px solid black;
}

.imgNav{
  width: 30px;
  height: 30px;
}

.thcenter {
  text-align: center;
}