body{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.menu_button {
  margin: 0%;
}

table{
  font-size: x-large;
}
.userInfo{
  text-align: center;
}

.userName{
  width: 250px;
  height:auto;
  font-size: xx-large;
  background-color:rgb(89, 114, 136);
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 10px;
}

.thcenter {
  text-align: center;
}